<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lynch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lynch">
        <activity android:name=".activitys.ActivityCena"></activity>
        <activity android:name=".activitys.ActivityAlmuerzo" />
        <activity android:name=".activitys.ActivityDesayuno" />
        <activity android:name=".activitys.Menu" />
        <activity android:name=".activitys.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sesion.SingUp" />
        <activity android:name=".sesion.Login" />
    </application>

</manifest>